[Unit]
Description=Run start.sh for Docker Compose Deployment
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/start.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
